body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;


  background: black;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
*{
  font-family: 'Montserrat';
}
button{
  cursor: pointer;
}
.element-animation{
  opacity: 0;
  transform: translate(0,20px);
} 
.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: none;
}